<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AeropuertoCreateDlg" widgetVar="AeropuertoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAeropuertoTitle}">
            <h:form id="AeropuertoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{aeropuertoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_id}" for="id" />
                        <p:inputText id="id" value="#{aeropuertoController.selected.id}" title="#{bundle.CreateAeropuertoTitle_id}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_tipo}" for="tipo" />
                        <p:inputText id="tipo" value="#{aeropuertoController.selected.tipo}" title="#{bundle.CreateAeropuertoTitle_tipo}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_tipo}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_departamento}" for="departamento" />
                        <p:inputText id="departamento" value="#{aeropuertoController.selected.departamento}" title="#{bundle.CreateAeropuertoTitle_departamento}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_departamento}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_ciudad}" for="ciudad" />
                        <p:inputText id="ciudad" value="#{aeropuertoController.selected.ciudad}" title="#{bundle.CreateAeropuertoTitle_ciudad}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_ciudad}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_icao}" for="icao" />
                        <p:inputText id="icao" value="#{aeropuertoController.selected.icao}" title="#{bundle.CreateAeropuertoTitle_icao}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_icao}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_iata}" for="iata" />
                        <p:inputText id="iata" value="#{aeropuertoController.selected.iata}" title="#{bundle.CreateAeropuertoTitle_iata}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_iata}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{aeropuertoController.selected.nombre}" title="#{bundle.CreateAeropuertoTitle_nombre}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_servicio}" for="servicio" />
                        <p:inputText id="servicio" value="#{aeropuertoController.selected.servicio}" title="#{bundle.CreateAeropuertoTitle_servicio}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_servicio}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_coordenadas}" for="coordenadas" />
                        <p:inputText id="coordenadas" value="#{aeropuertoController.selected.coordenadas}" title="#{bundle.CreateAeropuertoTitle_coordenadas}" required="true" requiredMessage="#{bundle.CreateAeropuertoRequiredMessage_coordenadas}"/>
                        <p:outputLabel value="#{bundle.CreateAeropuertoLabel_ciudadId}" for="ciudadId" />
                        <p:selectOneMenu id="ciudadId" value="#{aeropuertoController.selected.ciudadId}" >
                            <f:selectItems value="#{ciudadController.itemsAvailableSelectOne}"
                                           var="ciudadIdItem"
                                           itemValue="#{ciudadIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{aeropuertoController.create}" value="#{bundle.Save}" update="display,:AeropuertoListForm:datalist,:growl" oncomplete="handleSubmit(args,'AeropuertoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AeropuertoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
