<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AeropuertoEditDlg" widgetVar="AeropuertoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAeropuertoTitle}">
            <h:form id="AeropuertoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{aeropuertoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_id}" for="id" />
                        <p:inputText id="id" value="#{aeropuertoController.selected.id}" title="#{bundle.EditAeropuertoTitle_id}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_tipo}" for="tipo" />
                        <p:inputText id="tipo" value="#{aeropuertoController.selected.tipo}" title="#{bundle.EditAeropuertoTitle_tipo}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_tipo}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_departamento}" for="departamento" />
                        <p:inputText id="departamento" value="#{aeropuertoController.selected.departamento}" title="#{bundle.EditAeropuertoTitle_departamento}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_departamento}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_ciudad}" for="ciudad" />
                        <p:inputText id="ciudad" value="#{aeropuertoController.selected.ciudad}" title="#{bundle.EditAeropuertoTitle_ciudad}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_ciudad}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_icao}" for="icao" />
                        <p:inputText id="icao" value="#{aeropuertoController.selected.icao}" title="#{bundle.EditAeropuertoTitle_icao}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_icao}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_iata}" for="iata" />
                        <p:inputText id="iata" value="#{aeropuertoController.selected.iata}" title="#{bundle.EditAeropuertoTitle_iata}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_iata}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{aeropuertoController.selected.nombre}" title="#{bundle.EditAeropuertoTitle_nombre}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_servicio}" for="servicio" />
                        <p:inputText id="servicio" value="#{aeropuertoController.selected.servicio}" title="#{bundle.EditAeropuertoTitle_servicio}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_servicio}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_coordenadas}" for="coordenadas" />
                        <p:inputText id="coordenadas" value="#{aeropuertoController.selected.coordenadas}" title="#{bundle.EditAeropuertoTitle_coordenadas}" required="true" requiredMessage="#{bundle.EditAeropuertoRequiredMessage_coordenadas}"/>
                        <p:outputLabel value="#{bundle.EditAeropuertoLabel_ciudadId}" for="ciudadId" />
                        <p:selectOneMenu id="ciudadId" value="#{aeropuertoController.selected.ciudadId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ciudadController.itemsAvailableSelectOne}"
                                           var="ciudadIdItem"
                                           itemValue="#{ciudadIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{aeropuertoController.update}" value="#{bundle.Save}" update="display,:AeropuertoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AeropuertoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AeropuertoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
