<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAeropuertoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AeropuertoListForm">
                <p:panel header="#{bundle.ListAeropuertoTitle}">
                    <p:dataTable id="datalist" value="#{aeropuertoController.items}" var="item"
                                 selectionMode="single" selection="#{aeropuertoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_departamento}"/>
                            </f:facet>
                            <h:outputText value="#{item.departamento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_ciudad}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_icao}"/>
                            </f:facet>
                            <h:outputText value="#{item.icao}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_iata}"/>
                            </f:facet>
                            <h:outputText value="#{item.iata}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_servicio}"/>
                            </f:facet>
                            <h:outputText value="#{item.servicio}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_coordenadas}"/>
                            </f:facet>
                            <h:outputText value="#{item.coordenadas}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAeropuertoTitle_ciudadId}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudadId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{aeropuertoController.prepareCreate}" update=":AeropuertoCreateForm" oncomplete="PF('AeropuertoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AeropuertoViewForm" oncomplete="PF('AeropuertoViewDialog').show()" disabled="#{empty aeropuertoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AeropuertoEditForm" oncomplete="PF('AeropuertoEditDialog').show()" disabled="#{empty aeropuertoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{aeropuertoController.destroy}" update=":growl,datalist" disabled="#{empty aeropuertoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
