<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AeropuertoViewDlg" widgetVar="AeropuertoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAeropuertoTitle}">
            <h:form id="AeropuertoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{aeropuertoController.selected != null}">
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_id}"/>
                        <h:outputText value="#{aeropuertoController.selected.id}" title="#{bundle.ViewAeropuertoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_tipo}"/>
                        <h:outputText value="#{aeropuertoController.selected.tipo}" title="#{bundle.ViewAeropuertoTitle_tipo}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_departamento}"/>
                        <h:outputText value="#{aeropuertoController.selected.departamento}" title="#{bundle.ViewAeropuertoTitle_departamento}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_ciudad}"/>
                        <h:outputText value="#{aeropuertoController.selected.ciudad}" title="#{bundle.ViewAeropuertoTitle_ciudad}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_icao}"/>
                        <h:outputText value="#{aeropuertoController.selected.icao}" title="#{bundle.ViewAeropuertoTitle_icao}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_iata}"/>
                        <h:outputText value="#{aeropuertoController.selected.iata}" title="#{bundle.ViewAeropuertoTitle_iata}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_nombre}"/>
                        <h:outputText value="#{aeropuertoController.selected.nombre}" title="#{bundle.ViewAeropuertoTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_servicio}"/>
                        <h:outputText value="#{aeropuertoController.selected.servicio}" title="#{bundle.ViewAeropuertoTitle_servicio}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_coordenadas}"/>
                        <h:outputText value="#{aeropuertoController.selected.coordenadas}" title="#{bundle.ViewAeropuertoTitle_coordenadas}"/>
                        <h:outputText value="#{bundle.ViewAeropuertoLabel_ciudadId}"/>
                        <h:outputText value="#{aeropuertoController.selected.ciudadId}" title="#{bundle.ViewAeropuertoTitle_ciudadId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AeropuertoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
