<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VueloCreateDlg" widgetVar="VueloCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateVueloTitle}">
            <h:form id="VueloCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vueloController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateVueloLabel_id}" for="id" />
                        <p:inputText id="id" value="#{vueloController.selected.id}" title="#{bundle.CreateVueloTitle_id}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_origenId}" for="origenId" />
                        <p:inputText id="origenId" value="#{vueloController.selected.origenId}" title="#{bundle.CreateVueloTitle_origenId}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_origenId}"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_destinoId}" for="destinoId" />
                        <p:inputText id="destinoId" value="#{vueloController.selected.destinoId}" title="#{bundle.CreateVueloTitle_destinoId}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_destinoId}"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{vueloController.selected.fecha}" title="#{bundle.EditVueloTitle_fecha}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_hora}" for="hora" />
                        <p:calendar id="hora" pattern="HH:mm:ss" value="#{vueloController.selected.hora}" title="#{bundle.EditVueloTitle_hora}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_hora}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_nuevahora}" for="nuevahora" />
                        <p:calendar id="nuevahora" pattern="HH:mm:ss" value="#{vueloController.selected.nuevahora}" title="#{bundle.EditVueloTitle_nuevahora}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_nuevahora}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{vueloController.selected.estado}" title="#{bundle.CreateVueloTitle_estado}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_estado}"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{vueloController.selected.capacidad}" title="#{bundle.CreateVueloTitle_capacidad}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_capacidad}"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_disponibles}" for="disponibles" />
                        <p:inputText id="disponibles" value="#{vueloController.selected.disponibles}" title="#{bundle.CreateVueloTitle_disponibles}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_disponibles}"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_valorticket}" for="valorticket" />
                        <p:inputText id="valorticket" value="#{vueloController.selected.valorticket}" title="#{bundle.CreateVueloTitle_valorticket}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_valorticket}"/>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_aerolineaId}" for="aerolineaId" />
                        <p:selectOneMenu id="aerolineaId" value="#{vueloController.selected.aerolineaId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_aerolineaId}">
                            <f:selectItems value="#{aerolineaController.itemsAvailableSelectOne}"
                                           var="aerolineaIdItem"
                                           itemValue="#{aerolineaIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_aeropuertodestinoId}" for="aeropuertodestinoId" />
                        <p:selectOneMenu id="aeropuertodestinoId" value="#{vueloController.selected.aeropuertodestinoId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_aeropuertodestinoId}">
                            <f:selectItems value="#{aeropuertoController.itemsAvailableSelectOne}"
                                           var="aeropuertodestinoIdItem"
                                           itemValue="#{aeropuertodestinoIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateVueloLabel_aeropuertoorigenId}" for="aeropuertoorigenId" />
                        <p:selectOneMenu id="aeropuertoorigenId" value="#{vueloController.selected.aeropuertoorigenId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_aeropuertoorigenId}">
                            <f:selectItems value="#{aeropuertoController.itemsAvailableSelectOne}"
                                           var="aeropuertoorigenIdItem"
                                           itemValue="#{aeropuertoorigenIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vueloController.create}" value="#{bundle.Save}" update="display,:VueloListForm:datalist,:growl" oncomplete="handleSubmit(args,'VueloCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VueloCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
