<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VueloEditDlg" widgetVar="VueloEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVueloTitle}">
            <h:form id="VueloEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vueloController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVueloLabel_id}" for="id" />
                        <p:inputText id="id" value="#{vueloController.selected.id}" title="#{bundle.EditVueloTitle_id}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_origenId}" for="origenId" />
                        <p:inputText id="origenId" value="#{vueloController.selected.origenId}" title="#{bundle.EditVueloTitle_origenId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_origenId}"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_destinoId}" for="destinoId" />
                        <p:inputText id="destinoId" value="#{vueloController.selected.destinoId}" title="#{bundle.EditVueloTitle_destinoId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_destinoId}"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{vueloController.selected.fecha}" title="#{bundle.EditVueloTitle_fecha}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_hora}" for="hora" />
                        <p:calendar id="hora" pattern="HH:mm:ss" value="#{vueloController.selected.hora}" title="#{bundle.EditVueloTitle_hora}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_hora}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_nuevahora}" for="nuevahora" />
                        <p:calendar id="nuevahora" pattern="HH:mm:ss" value="#{vueloController.selected.nuevahora}" title="#{bundle.EditVueloTitle_nuevahora}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_nuevahora}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{vueloController.selected.estado}" title="#{bundle.EditVueloTitle_estado}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_estado}"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{vueloController.selected.capacidad}" title="#{bundle.EditVueloTitle_capacidad}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_capacidad}"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_disponibles}" for="disponibles" />
                        <p:inputText id="disponibles" value="#{vueloController.selected.disponibles}" title="#{bundle.EditVueloTitle_disponibles}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_disponibles}"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_valorticket}" for="valorticket" />
                        <p:inputText id="valorticket" value="#{vueloController.selected.valorticket}" title="#{bundle.EditVueloTitle_valorticket}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_valorticket}"/>
                        <p:outputLabel value="#{bundle.EditVueloLabel_aerolineaId}" for="aerolineaId" />
                        <p:selectOneMenu id="aerolineaId" value="#{vueloController.selected.aerolineaId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_aerolineaId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{aerolineaController.itemsAvailableSelectOne}"
                                           var="aerolineaIdItem"
                                           itemValue="#{aerolineaIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditVueloLabel_aeropuertodestinoId}" for="aeropuertodestinoId" />
                        <p:selectOneMenu id="aeropuertodestinoId" value="#{vueloController.selected.aeropuertodestinoId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_aeropuertodestinoId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{aeropuertoController.itemsAvailableSelectOne}"
                                           var="aeropuertodestinoIdItem"
                                           itemValue="#{aeropuertodestinoIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditVueloLabel_aeropuertoorigenId}" for="aeropuertoorigenId" />
                        <p:selectOneMenu id="aeropuertoorigenId" value="#{vueloController.selected.aeropuertoorigenId}" required="true" requiredMessage="#{bundle.EditVueloRequiredMessage_aeropuertoorigenId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{aeropuertoController.itemsAvailableSelectOne}"
                                           var="aeropuertoorigenIdItem"
                                           itemValue="#{aeropuertoorigenIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vueloController.update}" value="#{bundle.Save}" update="display,:VueloListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VueloEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VueloEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
