<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListVueloTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="VueloListForm">
                <p:panel header="#{bundle.ListVueloTitle}">
                    <p:dataTable id="datalist" value="#{vueloController.items}" var="item"
                                 selectionMode="single" selection="#{vueloController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_origenId}"/>
                            </f:facet>
                            <h:outputText value="#{item.origenId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_destinoId}"/>
                            </f:facet>
                            <h:outputText value="#{item.destinoId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_hora}"/>
                            </f:facet>
                            <h:outputText value="#{item.hora}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_nuevahora}"/>
                            </f:facet>
                            <h:outputText value="#{item.nuevahora}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_estado}"/>
                            </f:facet>
                            <h:outputText value="#{item.estado}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_capacidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.capacidad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_disponibles}"/>
                            </f:facet>
                            <h:outputText value="#{item.disponibles}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_valorticket}"/>
                            </f:facet>
                            <h:outputText value="#{item.valorticket}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_aerolineaId}"/>
                            </f:facet>
                            <h:outputText value="#{item.aerolineaId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_aeropuertodestinoId}"/>
                            </f:facet>
                            <h:outputText value="#{item.aeropuertodestinoId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVueloTitle_aeropuertoorigenId}"/>
                            </f:facet>
                            <h:outputText value="#{item.aeropuertoorigenId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{vueloController.prepareCreate}" update=":VueloCreateForm" oncomplete="PF('VueloCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":VueloViewForm" oncomplete="PF('VueloViewDialog').show()" disabled="#{empty vueloController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":VueloEditForm" oncomplete="PF('VueloEditDialog').show()" disabled="#{empty vueloController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{vueloController.destroy}" update=":growl,datalist" disabled="#{empty vueloController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
