<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VueloViewDlg" widgetVar="VueloViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVueloTitle}">
            <h:form id="VueloViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vueloController.selected != null}">
                        <h:outputText value="#{bundle.ViewVueloLabel_id}"/>
                        <h:outputText value="#{vueloController.selected.id}" title="#{bundle.ViewVueloTitle_id}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_origenId}"/>
                        <h:outputText value="#{vueloController.selected.origenId}" title="#{bundle.ViewVueloTitle_origenId}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_destinoId}"/>
                        <h:outputText value="#{vueloController.selected.destinoId}" title="#{bundle.ViewVueloTitle_destinoId}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_fecha}"/>
                        <h:outputText value="#{vueloController.selected.fecha}" title="#{bundle.ViewVueloTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVueloLabel_hora}"/>
                        <h:outputText value="#{vueloController.selected.hora}" title="#{bundle.ViewVueloTitle_hora}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVueloLabel_nuevahora}"/>
                        <h:outputText value="#{vueloController.selected.nuevahora}" title="#{bundle.ViewVueloTitle_nuevahora}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVueloLabel_estado}"/>
                        <h:outputText value="#{vueloController.selected.estado}" title="#{bundle.ViewVueloTitle_estado}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_capacidad}"/>
                        <h:outputText value="#{vueloController.selected.capacidad}" title="#{bundle.ViewVueloTitle_capacidad}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_disponibles}"/>
                        <h:outputText value="#{vueloController.selected.disponibles}" title="#{bundle.ViewVueloTitle_disponibles}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_valorticket}"/>
                        <h:outputText value="#{vueloController.selected.valorticket}" title="#{bundle.ViewVueloTitle_valorticket}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_aerolineaId}"/>
                        <h:outputText value="#{vueloController.selected.aerolineaId}" title="#{bundle.ViewVueloTitle_aerolineaId}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_aeropuertodestinoId}"/>
                        <h:outputText value="#{vueloController.selected.aeropuertodestinoId}" title="#{bundle.ViewVueloTitle_aeropuertodestinoId}"/>
                        <h:outputText value="#{bundle.ViewVueloLabel_aeropuertoorigenId}"/>
                        <h:outputText value="#{vueloController.selected.aeropuertoorigenId}" title="#{bundle.ViewVueloTitle_aeropuertoorigenId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VueloViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
