<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/aerolinea/List" value="Show All Aerolinea Items"/>
        <br />
        <h:link outcome="/aeropuerto/List" value="Show All Aeropuerto Items"/>
        <br />
        <h:link outcome="/ciudad/List" value="Show All Ciudad Items"/>
        <br />
        <h:link outcome="/cliente/List" value="Show All Cliente Items"/>
        <br />
        <h:link outcome="/departamento/List" value="Show All Departamento Items"/>
        <br />
        <h:link outcome="/venta/List" value="Show All Venta Items"/>
        <br />
        <h:link outcome="/vuelo/List" value="Show All Vuelo Items"/>
    </h:body>







</html>

