<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentaEditDlg" widgetVar="VentaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVentaTitle}">
            <h:form id="VentaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ventaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVentaLabel_id}" for="id" />
                        <p:inputText id="id" value="#{ventaController.selected.id}" title="#{bundle.EditVentaTitle_id}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditVentaLabel_nombrepasajero}" for="nombrepasajero" />
                        <p:inputText id="nombrepasajero" value="#{ventaController.selected.nombrepasajero}" title="#{bundle.EditVentaTitle_nombrepasajero}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_nombrepasajero}"/>
                        <p:outputLabel value="#{bundle.EditVentaLabel_documento}" for="documento" />
                        <p:inputText id="documento" value="#{ventaController.selected.documento}" title="#{bundle.EditVentaTitle_documento}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_documento}"/>
                        <p:outputLabel value="#{bundle.EditVentaLabel_fechanacimiento}" for="fechanacimiento" />
                        <p:calendar id="fechanacimiento" pattern="MM/dd/yyyy" value="#{ventaController.selected.fechanacimiento}" title="#{bundle.EditVentaTitle_fechanacimiento}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_fechanacimiento}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditVentaLabel_clienteId}" for="clienteId" />
                        <p:selectOneMenu id="clienteId" value="#{ventaController.selected.clienteId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"
                                           var="clienteIdItem"
                                           itemValue="#{clienteIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditVentaLabel_vueloId}" for="vueloId" />
                        <p:selectOneMenu id="vueloId" value="#{ventaController.selected.vueloId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{vueloController.itemsAvailableSelectOne}"
                                           var="vueloIdItem"
                                           itemValue="#{vueloIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ventaController.update}" value="#{bundle.Save}" update="display,:VentaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VentaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VentaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
