<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentaViewDlg" widgetVar="VentaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVentaTitle}">
            <h:form id="VentaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ventaController.selected != null}">
                        <h:outputText value="#{bundle.ViewVentaLabel_id}"/>
                        <h:outputText value="#{ventaController.selected.id}" title="#{bundle.ViewVentaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewVentaLabel_nombrepasajero}"/>
                        <h:outputText value="#{ventaController.selected.nombrepasajero}" title="#{bundle.ViewVentaTitle_nombrepasajero}"/>
                        <h:outputText value="#{bundle.ViewVentaLabel_documento}"/>
                        <h:outputText value="#{ventaController.selected.documento}" title="#{bundle.ViewVentaTitle_documento}"/>
                        <h:outputText value="#{bundle.ViewVentaLabel_fechanacimiento}"/>
                        <h:outputText value="#{ventaController.selected.fechanacimiento}" title="#{bundle.ViewVentaTitle_fechanacimiento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVentaLabel_clienteId}"/>
                        <h:outputText value="#{ventaController.selected.clienteId}" title="#{bundle.ViewVentaTitle_clienteId}"/>
                        <h:outputText value="#{bundle.ViewVentaLabel_vueloId}"/>
                        <h:outputText value="#{ventaController.selected.vueloId}" title="#{bundle.ViewVentaTitle_vueloId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VentaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
