<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CiudadEditDlg" widgetVar="CiudadEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCiudadTitle}">
            <h:form id="CiudadEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ciudadController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCiudadLabel_id}" for="id" />
                        <p:inputText id="id" value="#{ciudadController.selected.id}" title="#{bundle.EditCiudadTitle_id}" required="true" requiredMessage="#{bundle.EditCiudadRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditCiudadLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{ciudadController.selected.nombre}" title="#{bundle.EditCiudadTitle_nombre}" required="true" requiredMessage="#{bundle.EditCiudadRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditCiudadLabel_departamentoId}" for="departamentoId" />
                        <p:selectOneMenu id="departamentoId" value="#{ciudadController.selected.departamentoId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{departamentoController.itemsAvailableSelectOne}"
                                           var="departamentoIdItem"
                                           itemValue="#{departamentoIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ciudadController.update}" value="#{bundle.Save}" update="display,:CiudadListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CiudadEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CiudadEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
