<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AerolineaCreateDlg" widgetVar="AerolineaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAerolineaTitle}">
            <h:form id="AerolineaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{aerolineaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAerolineaLabel_id}" for="id" />
                        <p:inputText id="id" value="#{aerolineaController.selected.id}" title="#{bundle.CreateAerolineaTitle_id}" required="true" requiredMessage="#{bundle.CreateAerolineaRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateAerolineaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{aerolineaController.selected.nombre}" title="#{bundle.CreateAerolineaTitle_nombre}" required="true" requiredMessage="#{bundle.CreateAerolineaRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateAerolineaLabel_operacion}" for="operacion" />
                        <p:inputText id="operacion" value="#{aerolineaController.selected.operacion}" title="#{bundle.CreateAerolineaTitle_operacion}" required="true" requiredMessage="#{bundle.CreateAerolineaRequiredMessage_operacion}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{aerolineaController.create}" value="#{bundle.Save}" update="display,:AerolineaListForm:datalist,:growl" oncomplete="handleSubmit(args,'AerolineaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AerolineaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
