<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AerolineaViewDlg" widgetVar="AerolineaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAerolineaTitle}">
            <h:form id="AerolineaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{aerolineaController.selected != null}">
                        <h:outputText value="#{bundle.ViewAerolineaLabel_id}"/>
                        <h:outputText value="#{aerolineaController.selected.id}" title="#{bundle.ViewAerolineaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAerolineaLabel_nombre}"/>
                        <h:outputText value="#{aerolineaController.selected.nombre}" title="#{bundle.ViewAerolineaTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewAerolineaLabel_operacion}"/>
                        <h:outputText value="#{aerolineaController.selected.operacion}" title="#{bundle.ViewAerolineaTitle_operacion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AerolineaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
