<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Bienvenido - Sistema de Reservas de Vuelos</title>
                <!--<script name="jquery/jquery.js" library="primefaces"></script>-->
            </f:facet>
        </h:head>

        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                </p:layoutUnit>
                <p:layoutUnit position="west" size="250" header="Menu Principal" collapsible="true">

                    <p:menu>
                        <p:submenu label="Perfil">
                            <p:menuitem value="Editar" url="#" action="#{menu.setSelectedOption(menu.OPT1)}" update="operaciones" />                            
                        </p:submenu>
                        <p:submenu label="Consultas">
                            <p:menuitem value="Por horarios" url="#" action="#{menu.setSelectedOption(menu.OPT2)}" update="operaciones" />
                            <p:menuitem value="Por Tarifas"  url="#" action="#{menu.setSelectedOption(menu.OPT3)}" update="operaciones" />
                        </p:submenu>

                    </p:menu>

                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <p:panel id="operaciones">
                        <p:panel id="personal-data" header="Editar datos personales" rendered="#{menu.selectedOption == menu.OPT1}">
                            <p:panelGrid id="personal" columns="2">
                                <h:outputLabel for="personal-nombre" value="Nombre completo:" />
                                <p:inputText id="personal-nombre" required="true" />

                                <p:outputLabel for="personal-fechanacimiento" value="Fecha de nacimiento:" />
                                <p:inputText id="personal-fechanacimiento" required="true" />
                                
                                <p:outputLabel for="personal-documento" value="Cédula:" />
                                <p:inputText id="personal-documento" required="true" />
                                
                                <p:outputLabel for="personal-email:" value="Correo electrónico:" />
                                <p:inputText id="personal-email" required="true" />

                                <p:commandButton value="Buscar" id="persona-actualizar" actionListener="#{buttonView.buttonAction}" icon="ui-icon-disk" />
                                <p:outputLabel value="" />
                            </p:panelGrid>
                        </p:panel>
                        <p:panel id="horarios" header="Búsqueda por Horarios" rendered="#{menu.selectedOption == menu.OPT2}">      
                            <p:panelGrid id="horarios-opciones" columns="2">
                                <h:outputLabel for="horarios-ciudadorigen" value="Ciudad de origen:" />
                                <p:inputText id="horarios-ciudadorigen" required="true" />

                                <p:outputLabel for="horarios-ciudaddestino" value="Ciudad de destino:" />
                                <p:inputText id="horarios-ciudaddestino" required="true" />

                                <p:commandButton value="Buscar" id="horarios-buscar" actionListener="#{buttonView.buttonAction}" update="horarios-resultsdt" icon="ui-icon-disk" />
                                <p:outputLabel value="" />
                            </p:panelGrid>
                            <p:dataTable id="horarios-resultsdt" var="car" value="#{dtBasicView.cars}">
                                <p:column headerText="Vuelo">
                                    <h:outputText value="#{car.id}" />
                                </p:column>

                                <p:column headerText="Aerolínea">
                                    <h:outputText value="#{car.year}" />
                                </p:column>

                                <p:column headerText="Aeropuerto">
                                    <h:outputText value="#{car.brand}" />
                                </p:column>

                                <p:column headerText="Horario">
                                    <h:outputText value="#{car.color}" />
                                </p:column>

                                <p:column headerText="Detalles">
                                    <h:outputText value="#{car.color}" />
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                        <p:panel id="tarifas" header="Búsqueda por tarifas" rendered="#{menu.selectedOption == menu.OPT3}">
                            <p:panelGrid id="tarifas-opciones" columns="2">
                                <h:outputLabel for="tarifas-ciudadorigen" value="Ciudad de origen:" />
                                <p:inputText id="tarifas-ciudadorigen" required="true" />

                                <p:outputLabel for="tarifas-ciudaddestino" value="Ciudad de destino:" />
                                <p:inputText id="tarifas-ciudaddestino" required="true" />

                                <p:commandButton value="Buscar" id="tarifas-buscar" actionListener="#{buttonView.buttonAction}" update="tarifas-resultsdt" icon="ui-icon-disk" />
                                <p:outputLabel value="" />
                            </p:panelGrid>
                            <p:dataTable id="tarifas-resultsdt" var="car" value="#{dtBasicView.cars}">
                                <p:column headerText="Vuelo">
                                    <h:outputText value="#{car.id}" />
                                </p:column>

                                <p:column headerText="Aerolínea">
                                    <h:outputText value="#{car.year}" />
                                </p:column>

                                <p:column headerText="Aeropuerto">
                                    <h:outputText value="#{car.brand}" />
                                </p:column>

                                <p:column headerText="Valor">
                                    <h:outputText value="#{car.color}" />
                                </p:column>

                                <p:column headerText="Detalles">
                                    <h:outputText value="#{car.color}" />
                                </p:column>
                            </p:dataTable>
                        </p:panel>


                    </p:panel>
                </p:layoutUnit>

            </p:layout>

        </h:body>
    </f:view>





</html>

