<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClienteEditDlg" widgetVar="ClienteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditClienteTitle}">
            <h:form id="ClienteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clienteController.selected != null}">
                        <p:outputLabel value="#{bundle.EditClienteLabel_id}" for="id" />
                        <p:inputText id="id" value="#{clienteController.selected.id}" title="#{bundle.EditClienteTitle_id}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{clienteController.selected.nombre}" title="#{bundle.EditClienteTitle_nombre}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_cedula}" for="cedula" />
                        <p:inputText id="cedula" value="#{clienteController.selected.cedula}" title="#{bundle.EditClienteTitle_cedula}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_cedula}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_email}" for="email" />
                        <p:inputText id="email" value="#{clienteController.selected.email}" title="#{bundle.EditClienteTitle_email}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_fechanacimiento}" for="fechanacimiento" />
                        <p:calendar id="fechanacimiento" pattern="MM/dd/yyyy" value="#{clienteController.selected.fechanacimiento}" title="#{bundle.EditClienteTitle_fechanacimiento}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_fechanacimiento}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clienteController.update}" value="#{bundle.Save}" update="display,:ClienteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ClienteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClienteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
