<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClienteViewDlg" widgetVar="ClienteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewClienteTitle}">
            <h:form id="ClienteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clienteController.selected != null}">
                        <h:outputText value="#{bundle.ViewClienteLabel_id}"/>
                        <h:outputText value="#{clienteController.selected.id}" title="#{bundle.ViewClienteTitle_id}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_nombre}"/>
                        <h:outputText value="#{clienteController.selected.nombre}" title="#{bundle.ViewClienteTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_cedula}"/>
                        <h:outputText value="#{clienteController.selected.cedula}" title="#{bundle.ViewClienteTitle_cedula}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_email}"/>
                        <h:outputText value="#{clienteController.selected.email}" title="#{bundle.ViewClienteTitle_email}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_fechanacimiento}"/>
                        <h:outputText value="#{clienteController.selected.fechanacimiento}" title="#{bundle.ViewClienteTitle_fechanacimiento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ClienteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
